.calculadora .form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.calculadora .form-row {
    flex: 1;
    min-width: calc(33.33% - 10px);
    margin-right: 10px;
}

.calculadora .form-row:last-child {
    margin-right: 0;
}

.calculadora {
    user-select: none;
}